<div class="container-fluid mt-3">
    <h1 class="text-center mb-2">Loan Application Form</h1>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="fullName" class="form-label">Full Name:</label>
                            <input type="text"  class="form-control" [(ngModel)]="application.fullName" id="fullName" name="fullName" required>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="dob" class="form-label">Date of Birth:</label>
                            <input type="date" class="form-control" [(ngModel)]="application.dateOfBirth" id="dob" name="dob" required>
                        </div>
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" [(ngModel)]="application.email" id="email" name="email" required>
                        </div>
                        <div class="col-md-4">
                            <label for="phone" class="form-label">Phone Number:</label>
                            <input type="tel" class="form-control" [(ngModel)]="application.phone" id="phone" name="phone" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="address" class="form-label">Address:</label>
                            <textarea class="form-control" [(ngModel)]="application.address"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="city" class="form-label">City:</label>
                            <input type="text" class="form-control" [(ngModel)]="application.city" id="city" name="city" required>
                        </div>
                        <div class="col-md-4">
                            <label for="state" class="form-label">State:</label>
                            <input type="text" class="form-control" [(ngModel)]="application.state" id="state" name="state" required>
                        </div>
                        <div class="col-md-4">
                            <label for="zipCode" class="form-label">Zip Code:</label>
                            <input type="text" class="form-control" [(ngModel)]="application.zipCode" id="zipCode" name="zipCode" required>
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-md-4">
                            <label for="income" class="form-label">Annual Income:</label>
                            <input type="number" class="form-control" [(ngModel)]="application.annualIncome" id="income" name="income" min="10000"
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="employmentStatus" class="form-label">Employment Status:</label>
                            <select id="employmentStatus" name="employmentStatus" class="form-control" [(ngModel)]="application.employmentStatus" required>
                                <option value="employed">Employed</option>
                                <option value="self-employed">Self-Employed</option>
                                <option value="unemployed">Unemployed</option>
                                <option value="retired">Retired</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="creditScore" class="form-label">Credit Score:</label>
                            <input type="number" class="form-control" [(ngModel)]="application.creditScore" id="creditScore" name="creditScore" min="300"
                                max="850" required>
                        </div>
                    </div>

                    <div class="mb-3 mt-4">
                        <label for="assets" class="form-label">Assets:</label>
                        <textarea class="form-control" [(ngModel)]="application.assets"
                            placeholder="Describe your assets (e.g., property, vehicle, etc.)"></textarea>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div id="loanDetails">
                        <h4 class="mb-3">Current Loans</h4>
                        <div class="loan-group">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="bankName" class="form-label">Bank Name:</label>
                                    <input type="text" class="form-control" [(ngModel)]="loan.bankName" id="bankName" name="bankName[]"
                                        required>
                                </div>
                                <div class="col-md-4">
                                    <label for="loanAmount" class="form-label">Loan Amount:</label>
                                    <input type="number" class="form-control" [(ngModel)]="loan.loanAmount" id="loanAmount" name="loanAmount[]"
                                        min="0" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="emi" class="form-label">EMI:</label>
                                    <input type="number" class="form-control" [(ngModel)]="loan.emi" id="emi" name="emi[]" min="0"
                                        required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" id="addLoan" (click)="addLoan()">Add Another Loan</button>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Bank</th>
                                            <th>Loan Amount</th>
                                            <th>EMI</th>
                                        </tr>
                                    </thead>
                                    @if (application.Loans.length === 0) {
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="4">No Loans Added yet</td>
                                            </tr>
                                        </tbody>
                                    } @else {
                                        <tbody>
                                            @for (item of application.Loans; track $index) {
                                                <tr>
                                                    <td>{{$index+1}}</td>
                                                    <td>{{item.bankName}}</td>
                                                    <td>{{item.loanAmount}}</td>
                                                    <td>{{item.emi}}</td>
                                                </tr>
                                            }
                                           
                                        </tbody>
                                    }
                                     
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center pt-2">
            <button type="button" (click)="onSubmit()" class="btn btn-primary btn-lg">Submit Application</button>
        </div>
    </div> 
    <div id="result" class="mt-4"></div>
</div>
